/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* use this fonts
font-family: 'Inder', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/* =========================
Common Css All
============================*/
*{
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 227, 202);
}
.carousel-control-next,.carousel-control-prev{
    margin-left: 20px;
    width: 40px;
}