/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/* use this fonts
font-family: 'Inder', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/* =========================
Common Css All
============================*/
*{
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
.carousel-control-next,.carousel-control-prev{
    margin-left: 20px;
    width: 40px;
}
.mail:focus{
    outline: none;
}
.mail::placeholder{
    font-size: 20px;
}
.form-btn::placeholder{
    font-size: 20px;
}
.form-btn:focus{
    outline: none;
}
.stacky{
    position: fixed;
    top: 0;
    background: #16CCF1;
    z-index: 999;
    width: 100%;
    color: white;
    opacity: 0.9;
}
.bannar-bg{
    background-color: #E5E5E5 !important;
}